[Desktop Entry]
Encoding=UTF-8
Name=Bold Wallet
Comment=Bold wallet
Exec=Bold %U
Terminal=false
Type=Application
Icon=intensecoin
MimeType=x-scheme-handler/intensecoin;
Categories=Office;Finance;
